<span id='title'>The Editor</span>
<hr><hr class='space'><hr>
To begin using the editor, click "New" at the <%= link_to 'project\'s listing page', projects_path %>.
<hr><hr class='space'><img src='/images/tuts/1/1.png'><hr class='space'><hr>
From here, enter your project's title and description and click "create project".
<hr><hr class='space'><img src='/images/tuts/1/2.png'><hr class='space'><hr>
You're now presented with the editor. From here you can create new files, edit existing ones, save your changes, and download 
your source code if you wish to.
<hr><hr class='space'><img src='/images/tuts/1/3.png'><hr class='space'>