<div class='col two-thirds'>
<span id='title'>Learning the Syntax</span>
<hr><hr class='space'>

<p>Variables are put in [ boxes ]</p>

<hr class='space'>
<pre>
	[ my_box ] = 5
</pre>
<hr class='space'>

<p>Where my_box is your arbitrary name for that box. Now whenever you have [ my_box ] in your code, the value of 5 will be evaluated.</p>

<hr class='space'>
<pre>
	[ new_box ] = [ my_box ] - 3
</pre>
<hr class='space'>

<p>[new_box] now equals 2. Strings are enclosed in double quotes:</p>

<hr class='space'>
<pre>
	[ new_box ] = "he11o wor1d"
</pre>
<hr class='space'>

<p>Now [new_box] has the value "he11o wor1d".</p>

<!-- ... -->

</div>
<div class='col one-third last'>
</div>