.col {
	float: left;
	padding: 20px;
	min-height: 350px;
	border-right: 1px solid #081640;
}

.one-third { width: 28%; }
.two-thirds { width: 56%; }

.last {
	border-right: none;
}

.space {
	background: none;
	border: none;
	height: 15px;
}

.stack_horizontal {
	float: left;
}

.stack_horizontal_right {
	float: right;
}

.success {
	font-size: 10pt;
	padding: 5px;
	text-align: center;
	border: 2px solid #c6d880;
	background: #e6efc2;
}
/*
.warning {
	font-size: 10pt;
	border: 3px solid #;
	background: #;
}
*/
.errors {
	font-size: 10pt;
	padding: 5px;
	text-align: center;
	border: 2px solid #fbc2c4;
	background: #fbe3e4;
}