#box {
	height: 12px;
	padding: 4px;
	font-size: 10pt;
	letter-spacing: 1px;
	border-radius: 3px;
	border: 1px solid #000;
	font-family: "Droid Sans", Sans-Serif;
}

.short {
	width: 75px;
}

.medium {
	width: 150px;
}

.long {
	width: 300px;
}

.widest {
	width: 96%;
}

.tall {
	height: 150px;
}