.large {
	font-size: 14pt;
	letter-spacing: 2px;
}
.medium {
	letter-spacing: 2px;
	font-size: 12pt;
}
.loud {
	color: #e5683f;
}
.small {
	font-size: 7pt;
	letter-spacing: 1px;
}
.quiet {
	color: #809994;
}
.elongated {
	letter-spacing: 2px;
}
.italic {
	font-style: italic;
}

.underl {
	border-bottom: 1px solid #000;
}