#description {
	font-size: 8pt;
	margin-top: 10px;
	margin-left: 30px;
}

#file_listing {
	width: 100%;
	height: 50px;
	border-top: 1px solid #000;
}

#file_listing a {
	color: #000;
	text-decoration: none;
}

#file_listing a:hover {
	color: #000;
	border-bottom: 1px solid #000;
}

#row_light {
	background: #fbffb8;
}

#row_dark {
	background: #92ad9a;
}

#editor {
	width: 100%;
}

#editor textarea {
	color: #ddd;
	width: 99%;
	font-size: 13px;
	font-family: monospace;
	min-height: 175px;
	background: #000;
}

#editor_tab {
	height: 30px;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
}

.last_tab {
	border-right: 1px solid #000;
}

#editor_code_section {
	color: #ddd;
	padding: 4px;
	border: 1px solid #000;
	background: #000;
}

#editor_header {
	width: 100%;
	border-bottom: 1px solid #809994;
	margin-bottom: 20px;
}

.selected_tab {
	background: #f5e7f2;
}