		<div class='half_body'>
			<h1>Getting Started</h1>
			<ul>
				<li><%= link_to 'Get An Account', new_user_path %></li>
				<li><a href=''>Read the Beginner's Tutorial</a></li>
				<li><%= link_to 'Start Editing', new_project_path %></li>
			</ul>
		</div>
		<div class='half_body'>
			<h1>About</h1>
			<p>
			Koala is an open source interpreted programming language 
			whose goal is to educate novice and new programmers that 
			feel programming might be for them, but don't want to 
			delve right into C or Java just yet. Our tutorials attempt
			to explain the elementary concepts of programming such as 
			variables, procedures, and other simple data structures 
			like arrays in as simple and as intuitive a way as possible.
			</p>
		</div>