<div class='col two-thirds'>
	<div class='stack_horizontal'><span id='title'>Projects</span></div>
	<div class='stack_horizontal_right'><%= link_to 'New', new_project_path %></div>
	<hr class='space'>
	<hr>
	<hr class='space'>
	
	<% @projects.each do |p|%>
		<div>
			<%= link_to p.title, p, :class => 'large' %> 
			<span class='small quiet'> by <%= p.authors.split(',')[0] %></span>
			<div id='description'>
				<%= p.description %>
			</div>
		</div>
		<hr class='space'>
	<% end %>
</div>
<div class='col one-third last'>
	<span class='large loud'>Search</span>
	<hr>
	<hr class='space'>
	<div class='stack_horizontal'>
		Title:<br /><br />
		Author: <br /><br />
		Description: 
	</div>
	<div class='stack_horizontal'>
		<input type='text' id='box' class='medium'><br /><br />
		<input type='text' id='box' class='medium'><br /><br />
		<textarea cols='20' rows='5'></textarea><br /><br />
		<input type='submit' value='Search' class='medium'>
	</div>
</div>