body {
	margin: 0px;
	background: #e5e5cf;
}
#title a {
	color: #fff;
	position: absolute;
	left: 30px;
	top: 10px;
	font-size: 26pt;
	font-family: "Tangerine";
	text-decoration: none;
	z-index: 1000;
}
#title a:hover {
	color: #5cb9f2;
}
#bar {
	width: 100%;
	height: 50px;
	background: #000;
	text-align: right;
}
#bar a {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	margin-right: 15px;
	margin-left: 15px;
	line-height: 45px;
	font-family: "Amaranth";
	text-decoration: none;
}
#bar a:hover {
	border-bottom: 1px solid #fff;
}
#banner {
	width: 100%;
	height: 350px;
	background: URL('/images/bg.png');
}
#banner_minified {
	width: 100%;
	height: 200px;
	background: URL('/images/bg.png');
	z-index: 10;
}
#banner_bottom {
	width: 100%;
	height: 6px;
	background: URL('/images/zig.png');
}
#h1 {
	margin: 0;
	color: #fff;
	font-size: 34;
	float: left;
	padding-left: 50px;
	padding-top: 50px;
	font-family: "Gruppo";
	font-weight: normal;
}
#backLayer {
	width: 100%;
	background: #aeceed;
}
#wrapper {
	background: #eeeeee;
	margin-top: 50px;
	min-height: 300px;
	width: 80%;
	margin-left: 10%;
	border-radius: 10px;
	padding: 30px;
}
h1 {
	font-size: 24pt;
	font-weight: bold;
	font-family: Play;
	margin: 0px;
}
.sect {
	padding: 20px;
	margin-top: 25px;
	margin-left: 10%;
	margin-bottom: 50px;
	width: 80%;
	background: #fff;
	border: 1px solid #8dadd9;
	overflow: auto;
}
.sect2 {
	top: 100px;
	width: 80%;
	padding: 20px;
	margin-left: 10%;
	margin-bottom: 50px;
	min-height: 400px;
	background: #fff;
	border: 1px solid #8dadd9;
	overflow: auto;
	position: absolute;
	z-index: 20;
}
.sect ul li {
	font-size: 12pt;
	line-height: 40px;
}
.sect a {
	color: #4c0000;
	font-size: 12pt;
	border-bottom: 1px solid #4c0000;
	text-decoration: none;
}
.sect p {
	font-size: 10pt;
	line-height: 25px;
	letter-spacing: 1px;
	font-style: italic;
	font-family: 'Verdana';/*'Cousine';*/
}
.sect p:first-letter {
	padding-left: 30px;
}
h2 {
	margin: 0;
	color: #000;
	letter-spacing: 2;
	text-align: center;
	font-family: Metrophobic;
}
#editor {
	border: 1px dotted #50593e;
	padding: 20px;
}
#inner_editor {
	border: 1px solid #ff8c2b;
	min-height: 500px;
	background: #8ab29f;
	padding: 0;
}
#code_area {
	width: 100%;
	padding: 20px;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 1;
	font-family: Play;
	min-height: 500px;
	background: #8ab29f;
}
/* ***  From here down to be redone (maybe...)  *** */
#project_listing {
	width: 100%;
	margin: 0px auto;
	font-family: Arial;
	font-size: 11pt;
	/*
	background: #eeeeee;
	border: 1px solid #86a677;*/
}
#project_listing tr td {
	height: 30px;
	padding: 5px;
	text-align: left;
}
.grey_view {
	padding: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	font-size: 12pt;
	font-family: Arial;
	min-height: 300px;
	background: #eeeeee;
	border: 1px solid #86a677;
	overflow: auto;
}
#code_box {
	color: #eee;
	padding: 20px;
	font-size: 10pt;
	letter-spacing: 1px;
	background: #1d1d1f;
	font-family: Play;
	border: 1px dotted #fff;
}
#code_box:hover{
	border: 1px solid #fff;
}
.button {
	width: 200px;
	height: 25px;
	font-size: 12pt;
	font-weight: bold;
	background: #fff;
	box-shadow: none;
	border-radius: 5px;
	box-shadow: #000 5px 5px 5px;
}
.box {
	width: 200px;
	height: 25px;
	font-size: 10pt;
	border: 1px solid #e5d27f;
	border-radius: 5px;
}
.code_input_box {
	color: #f2e6ce;
	width: 80%;
	padding: 20px;
	letter-spacing: 2px;
	font-family: Play;
	min-height: 300px;
	font-size: 10pt;
	background: #1d1d1f;
	border: 1px solid #33262e;
}
.error_box {
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 50px;
	line-height: 15px;
	font-size: 10pt;
	border: 1px solid #f00;
}
.regLink {
	color: #4c0000;
	border-bottom: 1px solid #4c0000;
	text-decoration: none;
}
.regLink:hover {
	border-bottom: none;
}
.navLink {
	color: #35f;
	letter-spacing: 2px;
	border-bottom: 1px solid #000;
	font-family: Arial;
	font-size: 12pt;
	text-decoration: none;
}
.navLink:hover {
	border-bottom: none;
}
.divider {
	font-size: 18px;
	font-family: Verdana;
	background: #fff;
}
.small_col {
	width: 150px;
}
.big_col {
	width: 200px;
}
.strong_minified {
	font-size: 8pt;
	font-weight: bold;
}
.half_body {
	float:left;
	width: 50%;
}
.quarter_body {
	float:left;
	width: 25%;
}
.field_with_errors {
	margin: 0px;
}