body {
	color: #333;
}

#header {
	background: #3b5998;
	color: #fff;
}

.panel {
	border: 1px solid #b3b3b3;
}

.panel > h2 {
	font-size: 13px;
	border-bottom: 1px solid #e2e2e2;
	background: #f2f2f2;
}

.menu, .tab {
	border-bottom: 1px solid #b3b3b3;
}

button {
	border-color: #999 #999 #888;
	border-style: solid;
	border-width: 1px;
	background: #eee;
	background: -moz-linear-gradient(top, #fff, #ddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	color: #333;
	font-weight: bold;
	font-size: 11px;
}

button:hover {
	background: #ddd;
}

.tab > button {
	border: 1px solid #aaa;
	border-bottom: 1px solid #b3b3b3;
	color: #555;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	font-size: 11px;
}

.tab > button.current {
	background: #fff;
	border-bottom: 1px solid #fff;
}

.tab > button:hover {
	background: #eee;
	color: #222;
}

#canvas {
	border: 1px dashed #aaa;
}

#canvas > span {
	color: #bbb;
	font-size: 12px;
}

.input {
	border: 1px solid #aaa;
	font-family: helvetica, sans-serif;
	font-size: 14px;
	color: #888;
}

#title {
}

#author {
}

#code {
}

#footer {
}
