<div class='grey_view'>
	<div class='quarter_body'>.</div>
	<div class='half_body'>
		<u><%= @user.username %>'s User Profile<br></u>
		<span class='strong_minified'>Email:</span> <%= @user.email %><br>
		<span class='strong_minified'>Date Joined:</span> <%= @user.join_date %><br>
	</div>
</div>