<div class='col one-third'>
	<span id='title' class='loud'>Welcome</span>
	<hr class='space'>
	<p>Hello and welcome to the Koala Project! The Koala Project's goal is to provide a safe and easy-to-learn sandbox programming environment for would be programmers. If you have no programming experience, but are eager to learn Koala is for you.</p>
	<p>To take the first step towards becoming a confident code connoisseur, follow the "Getting Started" directions on the right.</p>
</div>
<div class='col one-third'>
	<span id='title' class='loud'>Getting Started</span>
	<hr class='space'>
	<pre>
<a href='#'>Introduction</a>
	<a href='#'>Editor Setup</a>
	<a href='#'>Syntax Intro</a>
<a href='#'>Using Others</a>
	<a href='#'>Building on Other Projects</a>
	<a href='#'>Using Other's Projects</a>
<%= link_to 'Start Using', projects_path %>
	<%= link_to 'Project Listing / Search', projects_path %>
	<%= link_to 'Project Editor', new_project_path %>
	</pre>
</div>
<div class='col one-third last'>
	<span id='title' class='loud'>About Koala</span>
	<hr class='space'>
	<p>Open source, open source, open source. These are Koala's values. Simple and poetic. Assisting new programmers become acquainted with the subtleties and nuances of programming.</p>
	<p>At the same time it shows them why open source is the most practical choice for meaningful development.</p>
</div>