* {
	margin: 0;
	padding: 0;
}

html {
	
}

body {
	font-family: Arial, Helvetica, sans-serif;
	/*width: 900px;
	margin: 24px auto;*/
	overflow: hidden;
}

#header > h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#wrapper {
	
}

#header {
	padding: 2px 16px;
}

#nav {
	
}

#content {
	padding-right: 16px;
}

#content_left {
	width: 22%;
	float: left;
}

#content_center {
	width: 44%;
	float: left;
}

#content_right {
	width: 34%;
	float: left;
}

#files {
	overflow: auto;
	padding: 8px;
	height: 300px;
}

#files > li {
	float: left;
	list-style-type: none;
	margin: 8px;
	width: 128px;
	height: 128px;
}

#files > li:hover {
	background: #f5f5f5;
}

#files div {
	margin: 4px 16px;
	width: 96px;
	height: 96px;
	background: #ccc;
}

#files input[type=text] {
	border: none;
	width: 100%;
	text-align: center;
	background: none;
	outline: none;
}

.clearfix {
	clear: both;
	height: 16px;
}

.panel {
	margin: 16px 0 0 16px;
	overflow: hidden;
}

.panel > h2 {
	padding: 2px 8px;
	font-size: 14px;
}

.menu, .tab {
	padding: 2px 8px;
}

button {
	font-size: 14px;
	padding: 2px 4px;
	margin-right: 1px;
	outline: none;
}

button:hover {
}

.tab {
	padding-bottom: 0;
}

.tab > button {
	font-size: 14px;
	padding: 2px 4px;
	margin-bottom: -1px;
	margin-left: -2px;
}

.tab > button.current {
}

.tab > button:hover {
}

#canvas {
	margin: 12px;
	height: 200px;
	text-align: center;
}

#canvas > span {
	line-height: 200px;
}

.panel_content {
	margin: 12px;
}

.input {
	padding: 2px;
	margin-bottom: 8px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	outline: none;
}
/*
.comment {
	border: 1px solid #aaa;
	box-shadow: 0 4px 8px #eee inset;
	-moz-box-shadow: 0 4px 8px #eee inset;
	-webkit-box-shadow: 0 4px 8px #eee inset;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 4px;
	font-size: 14px;
	color: #888;
	position: relative;
}

.comment:after, .comment:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	top: 100%;
	position: absolute;
	width: 0;
}

.comment:after {
	border-width: 7px;
	border-top-color: #fff;
	left: 9px;
}

.comment:before {
	border-width: 8px;
	border-top-color: #888;
	left: 8px;
}
*/
#title {
}

#author {
}

#richtextarea {
	/*font-size: 16px;
	font-family: monospace;
	color: black;*/
	/*position: relative;*/
	overflow: auto;
	height: 420px;
}

#rt_wrap {
	position: relative;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
}

#text_wrap {
	position: absolute;
	/*left: 0;
	top: 0;*/
	min-width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}

#code_input, #code_display {
	font-size: 16px;
	font-family: monospace;
	/*min-height: 100%;*/
	min-height: 100%;
	min-width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	/*position: absolute;
	left: 0;
	top: 0;
	bottom: 0;*/
	background: none;
}

#code_input {
	color: #777;
	/*filter: alpha(opacity=50);
	opacity: .50;*/
	/*color: rgba(0,0,0,.5);
	color: transparent;*/
	font-weight: lighter;
	/*position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;*/
	overflow: hidden;
	resize: none;
}

#code_display {
	color: black;
	pointer-events: none;
}

#code_cur {
	font-size: 16px;
	font-family: monospace;
	border-left: 1px solid #000;
	position: absolute;
	left: 0;
	top: 0;
}

/* syntax highlighting */
span.cmd { color: green; }
span.num { color: navy; }
span.str { color: blue; }
span.box { color: red; }
span.cmt { color: gray; }
span.err { border-bottom: 1px dotted red; }

/*
button {
	border: 1px solid #aaa;
	background: #eee;
	box-shadow: 0 2px 4px #ddd, 0 8px 16px #fff inset;
	-moz-box-shadow: 0 2px 4px #ddd, 0 8px 16px #fff inset;
	-webkit-box-shadow: 0 2px 4px #ddd, 0 8px 16px #fff inset;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 8px;
	font-size: 14px;
	padding: 4px;
	color: #888;
}

button:hover {
	border: 1px solid #888;
	color: #555;
}

button:active {
	box-shadow: 0 2px 4px #ddd, 0 -8px 16px #fff inset;
	-moz-box-shadow: 0 2px 4px #ddd, 0 -8px 16px #fff inset;
	-webkit-box-shadow: 0 2px 4px #ddd, 0 -8px 16px #fff inset;
}
*/

#footer {
	
}

#bsod {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 480px;
	width: 640px;
	margin: -240px -320px;
	color: white;
	font-size: 16px;
	font-family: monospace;
	text-align: center;
}

#bsod > h1 {
	display: inline;
	background: white;
	color: blue;
	font-weight: normal;
	font-size: inherit;
}

#bsod > p {
	margin-top: 16px;
}

#bsod > pre {
	margin-top: 16px;
	text-align: left;
	white-space: pre-wrap;
}

