* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}

#header, #content, #float, #footer {
	position: absolute;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#header, #footer {
	font-family: "Trebuchet MS";
	z-index: 1;
}

#float {
	background: rgba(255,255,255,0.3);
	z-index: 2;
}

h1, h2 {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#header {
	top: 0;
	height: 44px;
}

#content, #float {
	top: 44px;
	bottom: 44px;
	padding: 16px 0 0 16px;
}

#footer {
	bottom: 0;
	height: 44px;
}

#footer > button {
	font-size: 20px;
	padding: 4px 6px;
	margin: 4px;
}

#header > h1 {
	display: inline-block;
	padding: 2px 16px;
	cursor: default;
}

#header > ul {
	float: right;
	height: 100%;
	border-right: 1px solid #bbb;
	margin-right: 16px;
}

#header > ul > li {
	float: left;
	position: relative;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	font-size: 1.5em;
	padding: 7px 16px;
	border-left: 1px solid #bbb;
	cursor: pointer;
}

#header > ul > li:hover {
	background: #ddd;
}

#header > ul > li:active {
	background: #ccc;
}

#header > ul > li > form {
	position: absolute;
	display: none;
	top: 100%;
	right: -1px;
	width: 250px;
	padding: 12px 12px 0;
	cursor: auto;
	background: #eee;
	border: 1px solid #888;
	clip: rect(0px 999px 999px -99px);
	font-size: 20px;
}

/*#header > ul > li:hover > div {
	display: block;
}*/

.column {
	float: left;
	height: 100%;
	padding: 0 16px 0 0;
	/* eyecandy
	transition: width 1s, padding 1s;
	-moz-transition: width 1s, padding 1s;
	-webkit-transition: width 1s, padding 1s;
	-o-transition: width 1s, padding 1s; */
}

.column > div {
	padding: 0 0 16px 0;
	/* eyecandy
	transition: height 1s, padding 1s;
	-moz-transition: height 1s, padding 1s;
	-webkit-transition: height 1s, padding 1s;
	-o-transition: height 1s, padding 1s; */
}

.panel, .panel > h2, .panel > .header, .panel > .footer, .column, .column > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.panel > .header, .panel > .content, .panel > .footer {
	position: absolute;
	left: 0;
	right: 0;
}

.panel {
	overflow: hidden;
	height: 100%;
	position: relative;
	cursor: default;
}

.panel > h2 {
	overflow: hidden;
	padding: 2px 8px;
	font-size: 14px;
	height: 21px;
	cursor: default;
}

.panel > .header {
	overflow: hidden;
	height: 30px;
	top: 21px;
	padding: 2px 8px;
}

.panel > .footer {
	overflow: hidden;
	height: 30px;
	bottom: 0;
	padding: 2px 8px;
	border-top: 1px solid #ccc;
	background: #f8f8f8;
}

.panel > .content {
	top: 21px;
	bottom: 0;
	padding: 12px;
}

.panel > .head {
	top: 51px;
}

.panel > .foot {
	bottom: 30px;
}

.panel > .header > button, .panel > .footer > button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 25px;
	margin-bottom: 4px;
}

.panel > .scroll {
	padding: 8px;
	overflow: auto;
}

.panel > .stretch > * {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

